<div class="container-xxl">
    <div class="row">
        <div class="bloq col-6 bg-transparent">
            <div class="d-grid col-6">
                <button class="btn btn-dark" type="button" id="bloq-title">Edit Data Book</button>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">id_book</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Identificator Book"
                    #id_book>
            </div>
            <div class="mb-0">
                <span class="input-group mb-1">Photo</span>
                <input type="text" aria-label="Photo" class="form-control" placeholder="URL photo" #photo>
            </div>
            <div class="mt-2">
                <label for="exampleFormControlInput1 " class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title Book" #title>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Type</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type Cover Hard/Soft"
                    #type>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Author</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="name and surnames Author" #author>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Price</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Price euros" #price>
            </div>

            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">id_user</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="identificator User"
                    #id_user>
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button (click)="editBook(id_book, photo, title, type, author, price, id_user)"
                    class="btn btn-outline-dark" type="button">Edit Book</button>
            </div>
        </div>


    </div>
</div>