.containerForm {
    color: white;
    background-size: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPd4WBrdreYNvX765o79Q2DoRXdJv3BPtlLpLmdv3WuRQ-0-yDbacBQPCAEdNK');
    background-repeat: no-repeat;
}