<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1><span>MyBooks</span></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active text-warning" routerLink="/Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-success" routerLink="/Register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-primary" routerLink="/Profile">Profile</a>
      </li>
      <li>
      <a class="nav-link active text-danger" routerLink="/Books">Books</a>
      </li>
      <li>
        <a class="nav-link active text-secondary" routerLink="/AddBook">AddBook</a>
      </li>
      <li>
        <a class="nav-link active text-light" routerLink="/UpdateBook">UpdateBook</a>
      </li>
      <li>
        <a class="nav-link active text-warning" routerLink="/Login">Login</a>
      </li>
    </ul>
    <div class="navbar-toggler-links">
     
    </div>
</div>
</nav>
