h1{
    padding-right: 5%;
    padding-left: 2%;
}
span {
    color: azure;
    transition: color 3s ease-in-out;
    padding: auto;
    padding-right: 20%;
    
}

span:hover {
    transition: all 3s ease-in-out;
    font-size: xx-large;
    color: red;

}

.nav-link:hover{
    transition:all 1s ease-in-out;
    background-color:rgb(7, 7, 7);
    border-radius: 15%;
    font-size:larger;
    
}
.navbar-toggler{
    background-color: rgb(120, 125, 125);
}

