
    <div class="row">
        <div class="col">
            <footer class="navbar navbar-expand-xl p-3 mb-1 bg-dark text-light">
                <div class="f1">

                    <figure class="bloqFooter ">
                        <a class="textFooter" href="https://twitter.com/casadellibro">
                            <img class="imageFooter" src="/assets/twiter_icon.jpg" alt="">
                        </a>

                        <a class="textFooter2" href="https://www.facebook.com/casadellibro">
                            <img class="imageFooter" src="/assets/facebook_icon.png" alt="">
                        </a>

                        <a class="textFooter3" href="https://www.instagram.com/casadellibro/?hl=es">
                            <img class="imageFooter" src="/assets/instagram_icon.jpg" alt="">
                        </a>

                        <a class="textFooter4" href="https://play.google.com/store/apps?hl=es&gl=US">
                            <img class="imageFooter" src="\assets\googlePlay_icon.png" alt="">
                        </a>
                        <a class="textFooter5" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.netsupportmanager.com%2Fit%2Fversioni-linguistiche-dell%2527app-store%2F&psig=AOvVaw3JmGkC1hX5Iw2OMV-VQFNx&ust=1705749457824000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCODRp4qq6YMDFQAAAAAdAAAAABAI">
                            <img class="imageFooter" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYFMS4THqzAucsOwAxoZAK44anlBDlaKzygA&usqp=CAU" alt="">
                        </a>

                        <a class="textFooter6" href="https://www.casadellibro.com/nosotros/trabajaNosotros">
                            <img class="imageFooter" src="/assets/MyBooks_icon.jpg" alt="">Trabaja con nosotros
                        </a>
                        <a class="textFooter7">©_2024_MyBooks</a>
                    </figure>
                </div>
            </footer>

        </div>
    </div>
