

.container-xxl {
    width:580px;
    height: 700px;
    background-size: 100%;
    background-image: url('./img_pokemons.jpg');
    background-repeat: no-repeat;
    padding-right: 15%;
 
}

.navbar-brand{
    background-color: transparent;
   
}

.title-span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    color: rgb(205, 23, 23);
    transition: color 3s ease-in-out;
    padding: auto;
    padding-right: 3%;
    
}

.title-span:hover {
    transition: all 3s ease-in-out;
    font-size: 3.5rem;
    color: gold;

}

.row2{
    padding-left: 30%;
    padding-top: 3%;
}

.card{
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:hover {
    transition: all 2s ease-in-out;
    background-color: rgb(56, 97, 212);
    color: black;
    font-size: larger;
}


