<!-- **** TEMPLATE DRIVEN FORM -->
<div class="containerForm">
    <div class="row">
        <form #templateForm="ngForm" (ngSubmit)="submit(templateForm.value)">
            <h2><span>Template Driven Form</span></h2>
            <div class="mb-0">
                <label for="form-label" class="form-label">Email address</label>
                <input
                type="email"
                name="email"
                [(ngModel)]="user.email"
                class="form-control"
                #email="ngModel"
                required
                email
                placeholder="name@example.com"
                >
                
                @if ( (email.dirty || email.touched) && email.invalid) {
                @if (email.errors && email.errors['required']) {
                <div>
                    <p class="error">*Campo obligatorio</p>
                </div>
                }
                @if (email.errors && email.errors['email']) {
                <div>
                    <p class="error">**formato Email incorrecto</p>
                </div>
                }
                }
            </div>
            <div>
                <label for="inputPassword5" class="form-label">Password</label>
                <input
                type="password"
                name="password"
                [(ngModel)]="user.password"
                class="form-control"
                #password="ngModel"
                required
                password
                minlength="8"
                maxlength="20"
                >
                <span class="subtitle-password">Your password must be 8-20 characters long, contain letters and numbers,
                and must not contain spaces, special characters, or emoji.
                </span>
             
                @if ( (password.dirty || password.touched) && password.invalid) {
                @if (password.errors && password.errors['required']) {
                <div>
                    <p class="error">*Campo obligatorio</p>
                </div>
                }
                @if (password.errors && password.errors['minlength']) {
                <div>
                    <p class="error">*Contraseña con pocos caracteres</p>
                </div>
                }
                }
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button [disabled]="templateForm.invalid" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<!-- **** MODEL DRIVEN FORM (REACTIVE) FORM-->


<div class="containerForm2">
    <div class="row">
        <form [formGroup]="reactiveForm" (ngSubmit)="loginSubmit()">
            <h2>Model Driven (Reactive) Form</h2>
            <div class="mb-0">
                <label for="form-label" class="form-label">Email address</label>
                <input class="form-control" placeholder="name@example.com"
                 type="email"
                 name="email"
                 formControlName="email"
                 >
                 @if ( (reactiveForm.get('email')?.dirty || reactiveForm.get('email')?.touched) && reactiveForm.get('email')?.invalid)  {
                    @if (reactiveForm.get('email')?.hasError('required'))  {
                <div>
                    <p class="error">*Campo obligatorio</p>
                </div>
                }
                @if (reactiveForm.get('email')?.hasError('email'))  {
                <div>
                    <p class="error">*formato Email incorrecto</p>
                </div>
                }
                }
            </div>
            <div>
                <label for="inputPassword5" class="form-label">Password</label>
                <input class="form-control"
                type="password"
                name="password"
                formControlName="password"
                >
                <span class="subtitle-password">Your password must be 8-20 characters long, contain letters and numbers,
                    and must not contain spaces,special characters, or emoji.
                </span>
           
                @if ( (reactiveForm.get('password')?.dirty || reactiveForm.get('password')?.touched) &&
                reactiveForm.get('password')?.invalid) {
                @if (reactiveForm.get('password')?.hasError('required')) {
                <div>
                    <p class="error">*Campo obligatorio</p>
                </div>
                }
                @if (reactiveForm.get('password')?.hasError('minlength') || reactiveForm.get('password')?.hasError('maxlength')) {
                <div>
                    <p class="error">*Longitud de Contraseña incorrecta</p>
                </div>
                }
                }
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button [disabled]="reactiveForm.invalid" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>


