.row{
    justify-content: center;
    justify-self: center;
    padding: 5%;
}

.containerForm {
    color: white;
    width: 50%;
    height: 30%;
    background: transparent;

}
.containerForm2 {
    color: white;
    width: 50%;
    height: 30%;
    background: transparent;
    margin-left: 50%;

}

label {
    color: rgb(223, 129, 7);
    font-weight: bold;
}
.form-text{
    color:rgba(127, 255, 212, 0.646);
}
input{
    
    background-color:rgba(56, 55, 55, 0.324);
    font-size: medium;
}
input:hover{
    transition:all 2s ease-in-out;
    background-color: rgb(225, 218, 218);
    color:black;
    font-size:larger;
}
button{

    background-color:rgb(107, 114, 161);
}
.error {
    color: red;
  }
h2{
    display: flex;
    justify-content: center;
    color:rgb(15, 154, 57); 
    text-decoration:underline;
}
span{
    display: flex;
    justify-content: center;
    color:rgb(33, 33, 177);
}
.subtitle-password{
    color: white;
    font-size: x-small;
}