.containerForm {
  color: white;
  background-size: 100%;
  background-image: url('https://thumbs.dreamstime.com/b/leer-la-biblia-y-rezar-imagen-blanca-le%C3%ADa-rezaba-afuera-en-casa-168911487.jpg?w=768');
  background-repeat: no-repeat;
}

