<form [formGroup]="reactiveForm" (ngSubmit)="loginSubmit()">
<div class="container">
  <div class="row">
    <div class="containerFormRegister mb-0">
      <div class="mb-0">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input  class="form-control" id="exampleFormControlInput1" placeholder="Name"
        type="text"
        name="name"
        formControlName="name"
      >
      @if ( (reactiveForm.get('name')?.dirty || reactiveForm.get('name')?.touched) && reactiveForm.get('name')?.invalid)  {
      @if (reactiveForm.get('name')?.hasError('required'))  {
        <div >
          <p class="error">*Campo obligatorio</p>
        </div>
      }
    }
      </div>
      <div class="mb-0">
        <label for="exampleFormControlInput1" class="form-label">Surnames</label>
        <input  class="form-control" id="exampleFormControlInput1" placeholder="Surname1 Surname2 ...."
        type="text"
        name="surnames"
        formControlName="surnames"
      >
      @if ( (reactiveForm.get('surnames')?.dirty || reactiveForm.get('surnames')?.touched) && reactiveForm.get('surnames')?.invalid)  {
      @if (reactiveForm.get('surnames')?.hasError('required'))  {
        <div >
          <p class="error">*Campo obligatorio</p>
        </div>
      }
    }
      </div>
      <div class="mb-0">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input class="form-control" placeholder="name@example.com"
           type="email"
           name="email"
           formControlName="email"
           >
           @if ( (reactiveForm.get('email')?.dirty || reactiveForm.get('email')?.touched) && reactiveForm.get('email')?.invalid)  {
              @if (reactiveForm.get('email')?.hasError('required'))  {
          <div>
              <p class="error">*Campo obligatorio</p>
          </div>
          }
          @if (reactiveForm.get('email')?.hasError('email'))  {
          <div>
              <p class="error">*formato Email incorrecto</p>
          </div>
          }
          }
      <div class="mb-0">
        <label for="basic-url" class="form-label">Your vanity URL</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
        <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
      </div>

      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" id="inputPassword5" class="form-control"
          type="password"
          name="password"
          formControlName="password"
          >
          <span class="subtitle-password">Your password must be 8-20 characters long, contain letters and numbers,
              and must not contain spaces,special characters, or emoji.
          </span>
     
          @if ( (reactiveForm.get('password')?.dirty || reactiveForm.get('password')?.touched) &&
          reactiveForm.get('password')?.invalid) {
          @if (reactiveForm.get('password')?.hasError('required')) {
          <div>
              <p class="error">*Campo obligatorio</p>
          </div>
          }
          @if (reactiveForm.get('password')?.hasError('minlength') || reactiveForm.get('password')?.hasError('maxlength')) {
          <div>
              <p class="error">*Longitud de Contraseña incorrecta</p>
          </div>
          }
          }
        
      </div>
      <label for="inputPassword5" class="form-label">Password Repeat</label>
      <input  id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
      type="passwordRepeat"
      name="passwordRepeat"
      formControlName="passwordRepeat"
      >
      <span class="subtitle-password">Your password must be 8-20 characters long, contain letters and numbers,
          and must not contain spaces,special characters, or emoji.
      </span>
 
      @if ( (reactiveForm.get('passwordRepeat')?.dirty || reactiveForm.get('passwordRepeat')?.touched) &&
      reactiveForm.get('passwordRepeat')?.invalid) {
      @if (reactiveForm.get('passwordRepeat')?.hasError('required')) {
      <div>
          <p class="error">*Campo obligatorio</p>
      </div>
      }
      @if (reactiveForm.get('passwordRepeat')?.hasError('minlength') || reactiveForm.get('passwordRepeat')?.hasError('maxlength')) {
      <div>
          <p class="error">*Longitud de Contraseña incorrecta</p>
      </div>
      }
      <!-- @if (reactiveForm.get('password-repeat')?.hasError()) {
        <div>
            <p class="error">*No coincide con el Password anterior</p>
        </div>
        } -->
      }
    
      <div id="passwordHelpBlock" class="form-text">
        Your password must be completely the same as the previous one.
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button [disabled]="reactiveForm.invalid" type="submit">Register</button>
      </div>
    </div>
  </div>
</div>
</form>
