<div class="container-xxl">
    <div class="row">
        <div class="bloq1 col-6 bg-success-subtle opacity-97">
            <div class="card">
                <img class="card-img-top" src="{{user.photo}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}} {{user.last_name}}</h5>
                    <p class="card-name">{{user.name}}</p>
                    <p class="card-name">{{user.last_name}}</p>
                    <p class="card-name">{{user.email}}</p>
                </div>
            </div>
        </div>
        <div class="bloq2 col-6 bg-warning-subtle opacity-98">
            <h2 id="bloq2-title">Edit Data</h2>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Photo</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="insert url or folder location of Photo"#inputPhoto>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="Name"#inputName>
                <button (click)="changeName(inputName)" class="btn btn-outline-info" type="button">Show Name</button>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Surname</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Surname1 Surname2 ...."#inputLast_Name>
            </div>
            <div class="mb-0">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"#inputEmail>
            </div>
            <div class="mb-0">
                <label for="basic-url" class="form-label">URL</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="https://example.com/users/">
                </div>
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button (click)="changeDataCard(inputPhoto, inputName, inputLast_Name, inputEmail)" class="btn btn-outline-warning" type="button">Modify</button>
            </div>
        </div>
    </div>
</div>